$pink: #E71845;
$yellow: #E1D636;
$black: #040507;
$dark: #040507;

// Custom Styles
.logo-cont {
    width: 240px;
}

.title {
    position: relative;
    bottom: 0;
    left: 0;
    padding: 50px 0;
    min-height: 50vh;
    z-index: 1;
}

// Starburst
.starburst {
    z-index: -1;
}
.img-cont-mobile {
    height: 250px;
    width: 250px;
    position: absolute;
    bottom: 10px;
    right: -60px;
}
.ty-star {
    right: -80px;
    bottom: -65px;
}
.starburst-fr {
    bottom: -5px;
}
.starbust-index-fr {
    right: -120px
}
.sticky-star {
    display: none;
    height: 200px;
    width: 200px;
    position: absolute;
    right: -12px;
}

@media (min-width:767px ) {
    .img-cont-mobile {
        display: none;
    }
    .img-cont-md {
        display: block;
        left: 38%;
        top: 25%;
    }
    .ty-star {
    bottom: 10px;
    right: -60px;
    }
    .starbust-index-fr {
        left: 38%;
    }
    .sticky-star {
        display: block;
        z-index: 99999;
        bottom: -20%;
    }

}

// Sections
// CTA-Section
.cta-section {
    background-color: $yellow;
    p {
        font-family: 'Paralucent', sans-serif;
        font-size: 21px;
        line-height: 25px;
        color: $black;
    }
    .btn-join {
        display: block;
        text-align: center;
        color: $pink;
        font-weight: 700;
        font-size: 18px;
        background-color: #fff;
        text-transform: uppercase;
        width: 160px;
        // height: 36px;
        border: 3px solid black;
        border-radius: 18px;
        // margin-bottom: 20px;
        // margin-left: 10px;
    }
    .btn-join:hover,
    .btn-join:focus {
        color: $black;
        transition: all 0.5s;
    }
}
@media (min-width: 767px) {
    .cta-desktop {
        // margin-top: -300px;
        display: none;
    }
    .join-desktop {
        display: block;
    }
}
// .cta-desktop {
//     margin-top: -275px;
// }

// @media (max-width: 767px) {
//    .cta-desktop {
//     margin: 0px;
//    }
// }




// Video Section
.video-section {
    background-color: $pink;
}
// modal
.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}
.modal-body {
    padding: 0px;
    iframe {
        width: 800px;
        height: 60vh;
    }
}

// Issues
.read-more {
    display: none;
}


footer {
    background-color: #fff;
    p {
        text-align: right;
        color: $black;
        font-family: 'Paralucent', sans-serif;
        font-size: 15px;
        line-height: 15px;
        font-weight: 200;
        margin-bottom: 0;
    }
    .social-icon {
        height: 50px;
        width: 50px;
        padding: 5px 0 0 10px;
    }
}

@media (min-width: 767px) {
    .join-footer {
        margin-top: 0px;
    }
}
