// Fonts

$pink: #E71845;
$yellow: #E1D636;
$black: #040507;

h1 {
    font-family: 'Passion One', cursive;
    // font-size: 210px;
    // line-height: 158px;
    font-size: 140px;
    line-height: 110px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

h2 {
    font-family: 'Passion One', cursive;
    font-size: 80px;
    line-height: 65px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

h3 {
    font-family: 'Passion One', cursive;
    font-size: 50px;
    line-height: 42px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
}

h4 {
    font-family: 'Passion One', cursive;
    font-size: 50px;
    line-height: 42px;
    text-transform: uppercase;
}

p {
    font-family: 'Paralucent', sans-serif;
    font-size: 21px;
    line-height: 25px;
    font-weight: 500;
    color: #fff;
}

a {
    font-family: 'Paralucent', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: $pink;
    text-transform: uppercase;
    text-decoration: none;
}

li {
    font-family: 'Paralucent', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 10px;
}

// Icons
i {
    font-weight: 900;
    font-size: 16px;
    padding: 5px;
}

i.fa-angle-up {
    // display: none;
    color: $black;
}

i.fa-angle-down {
    color: $black;
    display: inline-block;
}

i.fa-circle {
    color: $pink;
    font-size: 10px;
}

// Buttons
.lang-toggle p {
    color: #040507;
    text-decoration: underline;
    text-decoration-thickness: 3px;

}
.btn-social {
    color: $pink;
    font-size: 16px;
    font-weight: 700;
    background-color: #fff;
    text-transform: uppercase;
    width: 230px;
    // height: 36px;
    border: 3px solid black;
    border-radius: 18px;
    margin-bottom: 20px;
    // margin-left: 10px;
    // padding: 5px 10px;
}

.sticky-bottom {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 99999;
    background-color: $yellow;
    width: 100%;
    padding: 10px;
    left: 0;

    .btn-join {
        width: 160px;
        margin: 0 auto;
    }
}

