h1 {
  font-family: "Passion One", cursive;
  font-size: 150px;
  line-height: 110px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

h1.index-title-fr {
  font-size: 100px;
  line-height: 80px;
}

h1.title-fr {
  font-size: 100px;
  line-height: 80px;
}

@media (min-width: 767px) {
  h1.index-title-fr {
    font-size: 150px;
    line-height: 110px;
  }
  h1.title-fr {
    font-size: 150px;
    line-height: 110px;
  }
}
h2 {
  font-family: "Passion One", cursive;
  font-size: 70px;
  line-height: 65px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

h3 {
  font-family: "Passion One", cursive;
  font-size: 50px;
  line-height: 42px;
  color: #040507;
  text-transform: uppercase;
  margin-bottom: 40px;
}

h4 {
  font-family: "Passion One", cursive;
  font-size: 50px;
  line-height: 42px;
  text-transform: uppercase;
}

p {
  font-family: "Paralucent", sans-serif;
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  color: #fff;
}

a {
  font-family: "Paralucent", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #E71845;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #040507;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

li {
  font-family: "Paralucent", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 10px;
}

i {
  font-weight: 900;
  font-size: 16px;
  padding: 5px;
}

i.fa-angle-up {
  color: #040507;
}

i.fa-angle-down {
  color: #040507;
  display: inline-block;
}

i.fa-circle {
  color: #E71845;
  font-size: 10px;
}

i.dark-circle {
  color: #040507;
  font-size: 10px;
}

.lang-toggle a {
  color: #040507;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.lang-toggle a:hover,
.lang-toggle a:focus {
  color: #E71845;
  font-size: 24px;
  cursor: pointer;
}

.btn-social {
  color: #E71845;
  font-size: 16px;
  font-weight: 700;
  background-color: #fff;
  text-transform: uppercase;
  width: 250px;
  border: 3px solid black;
  border-radius: 18px;
  margin-bottom: 20px;
}

.btn-social:hover,
.btn-social:focus {
  color: #040507;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sticky-bottom {
  display: block;
  position: fixed;
  bottom: 0;
  z-index: 99999;
  background-color: #E1D636;
  width: 100%;
  padding: 10px;
  left: 0;
  border: 5px solid #040507;
}
.sticky-bottom .btn-join {
  width: 160px;
  margin: 0 auto;
}

.form-section {
  background-color: #040507;
}

#can-event-area-join-us-because-enough-is-enough,
#can-event-area-join-us-because-enough-is-enough-2 {
  background-color: #040507 !important;
}
#can-event-area-join-us-because-enough-is-enough #can_embed_form,
#can-event-area-join-us-because-enough-is-enough-2 #can_embed_form {
  background-color: #040507 !important;
  border: none !important;
  padding: 50px 0 !important;
}

#can_embed_form #can_embed_form_inner .last_line {
  border-bottom: none !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
#can_embed_form #can_embed_form_inner h4 {
  display: none !important;
}

#can_embed_form #can_embed_form_inner h2 {
  font-family: "Passion One", cursive !important;
  font-size: 40px !important;
  line-height: 42px !important;
  text-transform: uppercase !important;
  color: #fff !important;
  margin-bottom: 20px !important;
}

#can_embed_form #can_embed_form_inner #action_welcome_message #action_welcome_message_inner {
  background-color: transparent !important;
  border: 1px solid #fff !important;
  margin-bottom: 20px !important;
}
#can_embed_form #can_embed_form_inner #action_welcome_message #action_welcome_message_inner div {
  color: #fff !important;
  font-family: "Paralucent", sans-serif !important;
  font-weight: 200 !important;
  font-size: 16px !important;
}
#can_embed_form #can_embed_form_inner #action_welcome_message #action_welcome_message_inner div small {
  color: #fff !important;
  font-family: "Paralucent", sans-serif !important;
  font-weight: 200 !important;
  font-size: 16px !important;
}

#can_embed_form #can_embed_form_inner input[type=text],
#can_embed_form #can_embed_form_inner input[type=password],
#can_embed_form #can_embed_form_inner input[type=url],
#can_embed_form #can_embed_form_inner input[type=email],
#can_embed_form #can_embed_form_inner input[type=tel],
#can_embed_form #can_embed_form_inner input[type=number] {
  font-family: "Paralucent", sans-serif !important;
  border-radius: 23px !important;
  line-height: 25px !important;
  border: none !important;
  margin-bottom: 20px !important;
}
#can_embed_form #can_embed_form_inner input[type=text]:focus,
#can_embed_form #can_embed_form_inner input[type=password]:focus,
#can_embed_form #can_embed_form_inner input[type=url]:focus,
#can_embed_form #can_embed_form_inner input[type=email]:focus,
#can_embed_form #can_embed_form_inner input[type=tel]:focus,
#can_embed_form #can_embed_form_inner input[type=number]:focus {
  border-color: #E71845 !important;
}

#can_embed_form #can_embed_form_inner label {
  color: #fff !important;
  background-color: transparent !important;
  display: block !important;
}

#can_embed_form #can_embed_form_inner .floatlabel-wrapper .floatlabel-label-active {
  top: 0 !important;
}
#can_embed_form #can_embed_form_inner .floatlabel-wrapper .floatlabel-label {
  display: block !important;
  opacity: 1 !important;
  position: relative !important;
  background-color: transparent !important;
  color: white !important;
  text-transform: none !important;
  font-size: 17px !important;
  padding-left: 0 !important;
  left: 0 !important;
}
#can_embed_form #can_embed_form_inner .floatlabel-wrapper .floatlabel-label.floatlabel-label-focus {
  color: white !important;
}
#can_embed_form #can_embed_form_inner .floatlabel-wrapper .floatlabel-label:focus {
  color: white !important;
}
#can_embed_form #can_embed_form_inner .floatlabel-wrapper .floatlabel-label:after {
  display: none !important;
}
#can_embed_form #can_embed_form_inner .floatlabel-wrapper input::-webkit-input-placeholder {
  color: transparent !important;
  opacity: 0 !important;
}
#can_embed_form #can_embed_form_inner .floatlabel-wrapper input::placeholder, #can_embed_form #can_embed_form_inner .floatlabel-wrapper input::-webkit-input-placeholder {
  color: transparent !important;
  opacity: 0 !important;
}

#can_embed_form #can_embed_form_inner input[type=submit] {
  font-family: "Paralucent", sans-serif;
  color: #040507 !important;
  font-weight: 700 !important;
  background-color: #fff !important;
  border: 3px solid #E71845 !important;
  border-radius: 18px !important;
  line-height: 25px !important;
  width: 55% !important;
  margin-top: 20px !important;
}
#can_embed_form #can_embed_form_inner input[type=submit]:hover {
  background-color: #E71845 !important;
  border-color: #E71845;
  color: #fff !important;
  border-radius: 0px !important;
}
#can_embed_form #can_embed_form_inner #form_col1, #can_embed_form #can_embed_form_inner #form_col2 {
  float: none !important;
  width: 100% !important;
}

#can_embed_form #can_embed_form_inner #d_sharing {
  border-top: transparent !important;
}
#can_embed_form #can_embed_form_inner #d_sharing ul li label {
  color: #fff !important;
  font-family: "Paralucent", sans-serif !important;
  font-weight: 200 !important;
  font-size: 16px !important;
}

#logo_wrap,
#action_info,
.international_link-wrap {
  display: none !important;
}

.logo-cont {
  width: 240px;
}

header {
  border: 5px solid #040507;
}

.title {
  position: relative;
  bottom: 0;
  left: 0;
  padding: 50px 0;
  min-height: 50vh;
  z-index: 1;
}

.starburst {
  z-index: -1;
}

.img-cont-mobile {
  height: 250px;
  width: 250px;
  position: absolute;
  bottom: 10px;
  right: -60px;
}

.ty-star {
  right: -80px;
  bottom: -65px;
}

.starburst-fr {
  bottom: -5px;
}

.starbust-index-fr {
  right: -120px;
}

.sticky-star {
  display: none;
  height: 200px;
  width: 200px;
  position: absolute;
  right: 0px;
}

@media (min-width: 767px) {
  .img-cont-mobile {
    display: none;
  }
  .img-cont-md {
    display: block;
    left: 38%;
    top: 25%;
  }
  .ty-star {
    bottom: 10px;
    right: -60px;
  }
  .starbust-index-fr {
    left: 38%;
  }
  .sticky-star {
    display: block;
    z-index: 99999;
    bottom: -30%;
  }
}
.cta-section {
  background-color: #E1D636;
  border-right: 5px solid #040507;
  border-left: 5px solid #040507;
  border-bottom: 5px solid #040507;
}
.cta-section p {
  font-family: "Paralucent", sans-serif;
  font-size: 21px;
  line-height: 25px;
  color: #040507;
}
.cta-section .btn-join {
  display: block;
  text-align: center;
  color: #E71845;
  font-weight: 700;
  font-size: 18px;
  background-color: #fff;
  text-transform: uppercase;
  width: 160px;
  border: 3px solid black;
  border-radius: 18px;
}
.cta-section .btn-join:hover,
.cta-section .btn-join:focus {
  color: #040507;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (min-width: 767px) {
  .cta-desktop {
    display: none;
  }
  .join-desktop {
    display: block;
  }
}
.video-section {
  background-color: #E71845;
}

.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-body {
  padding: 0px;
}
.modal-body iframe {
  width: 800px;
  height: 60vh;
}

.read-more {
  display: none;
}

.card {
  border: 3px solid #040507;
}
.card p.card-text {
  color: #040507;
}

.ty-section {
  border: 5px solid #040507;
}
.ty-section p {
  color: #040507;
}

footer {
  background-color: #fff;
  border: 5px solid #040507;
}
footer p {
  text-align: right;
  color: #040507;
  font-family: "Paralucent", sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 200;
  margin-bottom: 0;
}
footer .social-icon {
  height: 50px;
  width: 50px;
  padding: 5px 0 0 10px;
}

@media (min-width: 767px) {
  .join-footer {
    margin-top: 0px;
  }
}
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  width: 100%;
  overflow: hidden;
  padding-left: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-bottom: 5px solid #040507;
}
.ticker-wrap .ticker {
  white-space: nowrap;
  padding-right: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 60s;
  animation-duration: 60s;
}
.ticker-wrap p.ticker-item {
  color: #040507;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.container,
.container-fluid {
  overflow: hidden;
  padding: 0;
}

body {
  color: #040507;
  background-color: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  display: block;
}